.list-of-templates b {
    color: #2D2F2F;
    font-weight: 500;
}

.template-container {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    margin-top: 1rem;
}
/* message styles */

.message-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.message {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: .5rem;
    text-align: center;
    margin: auto;
}

.message.-info {
    background-color: #D6EAFF;
    color: var(--selected-bg-button);
}

.message.-error {
    background-color: #ffb9b9;
    color: rgb(166, 36, 36);
}