.template {
    cursor: pointer;
    padding: 0.625rem 0.9375rem;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    min-height: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: none;
    width: 100%;
}

.template .description {
    color: #6A6969;
    font-weight: 400;
    font-size: 0.875rem;
}

.template .image{
    width: 100%;
    max-width: 109px;
    margin: 0;
    border-radius: 0.3125rem;
}

.template .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.template .info .fields {
    display: flex;
    gap: 1rem;
    max-width: 100%;
}

.fields span{
    font-size: 0.875rem;
}

@media screen and (max-width: 950px){
    .template .info .fields {
        flex-direction: column;
        align-items: flex-start;
    }

    .template .image{
        max-width: 6.8125rem;
    }
}