:root {
    --main-bg-header-color: #434141;
    --defaul-bg-button: #D9D9D9;
    --selected-bg-button: #1889FF;
}

body{
    margin:0;
}

.main-content{
    display: flex;
    flex-direction: column;
}