@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap');
:root {
    --main-bg-header-color: #434141;
    --defaul-bg-button: #D9D9D9;
    --selected-bg-button: #1889FF;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

body {
    margin: 0;

    color: #3D3D3D;
    font-weight: 400;
    font-size: 1rem;
}

button.btn {
    width: 100%;
    height: 2.625rem;
    background-color: var(--selected-bg-button);
    border: none;
    color: #fff;
    border-radius: 5px;
}
button.btn.-small {
    height: 2.188rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
}

.title {
    color: #212121;
    font-weight: 700;
    font-size: 1.25rem;
}

.navigation-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    position: relative;
}

/* panels */
.panel {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 1.25rem;
    border-radius: 10px;
}

.panel-30 {
    width: 30%;
}

.panel-50 {
    width: 50%;
}

.panel-70 {
    width: 70%;
}

.panel-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1.563rem;
}

/* Mobile breackpoint */
@media screen and (max-width: 500px) {
    .panel-30 {
        width: 100%;
    }
    
    .panel-50 {
        width: 100%;
    }

    .panel-70 {
        width: 100%;
    }

    .panel-container {
        flex-direction: column;
    }
}

.error-message{
    display: block;
    color: red;
    font-size: 12px;
    margin-bottom: 5px;
}   

.margin-bottom-0{
    margin-bottom: 0;
}

@media screen and (max-width: 900px){
    .navigation-controls {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}